body {
  /* background-image: url("https://images.unsplash.com/photo-1606327054629-64c8b0fd6e4f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-image: url("./assets/bg.avif");
  background-size: cover;
}

.myList {
  font-family: serif;
  font-weight: 700;
  padding: 8px;
  width: 60%;
  min-width: 300px;
  margin: auto;
  margin-top: 30px;
}

.list-item {
  font-size: 16px;
  margin: 16px 4px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.662);
  padding: 2rem;
}
